<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Pancho_Saavedra_%2830940723637%29.jpg" />
    <ion-card-header>
      <ion-card-title>Mi Perfil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nombre: Rodolfo Andres Calvin. <br>
      Edad: 22 años. <br>
      Comuna: Isla de Pascua. <br>
      Direccion: Calle Rapa Nui con Uri Uri.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Mis Recetas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Pastel de Papa a la Calquin</ion-card-subtitle>
    2kg de Papa Pascuense, 1L de leche de Toro Bravo, 2 cucharaditas de Mantequilla de Evaporada, Carne de Guayu.
  </ion-card-content>
</ion-card>